@import 'normalize.css';

:root {
  --map-height: calc(100vh - 280px);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  --moz-osx-font-smoothing: grayscale;

  @include font($fs: 18px, $fw: 400, $lh: 100%);
  
  font-optical-sizing: auto;
  -webkit-font-smoothing: antialiased;
}

.title {
  @include mobile {
    font-size: 26px;
  }

  @include font($fs: 32px, $fw: 500, $lh: 94%);

  margin: 0;
  color: #fff;
  letter-spacing: -0.01em;
}
