.app-geolocation-map {
  height: var(--map-height);
  min-height: 530px;
}

.app-geolocation-map-loading {
  @include flex-center;

  height: var(--map-height);
  min-height: 530px;
  background: #cdcdcd9c;
}
