.app-header {
  position: relative;
  height: 280px;
  text-align: center;
  background: #5a76dd url("../../assets/pattern-bg-desktop.png") no-repeat center top / cover;

  &__in {
    @include box-spacing($m: 0 auto, $p: 32px 20px 0);

    max-width: 1150px;

  }
}


.app-header-error,
.app-header-loading {
  @include flex-center;
  @include font($fs: 26px, $fw: 500, $lh: 94%);
  @include box-spacing($m: 0 auto, $p: 0 32px);

  position: relative;
  z-index: 500;


  height: 161px;

  text-align: left;

  background: #fff;
  border-radius: 15px;
  box-shadow: 0 50px 50px -25px rgb(0 0 0 / 10%);
}
