.app-header {
  position: relative;
  height: 280px;
  text-align: center;
  background: #5a76dd url("../../assets/pattern-bg-desktop.png") no-repeat center top / cover;

  &__in {
    max-width: 1150px;
    margin: 0 auto;
    padding: 32px 20px 0;
  }
}


.app-header-error,
.app-header-loading {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 161px;
  margin: 0 auto;
  padding: 0 32px;

  font-family: Rubik, sans-serif;
  font-size: 26px;
  font-weight: 500;
  line-height: 94%;
  text-align: left;

  background: #fff;
  border-radius: 15px;
  box-shadow: 0 50px 50px -25px rgb(0 0 0 / 10%);
}
